<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SignSmart | About us</title>
    <link rel="icon" type="image/x-icon" href="../resoucre/images/icon.png">
    <link href="../css/output.css" rel="stylesheet">
    <script src="../components/navbar.js" defer></script>
    <script src="../components/footer.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <style>

    </style>
</head>

<body>
    <navbar-component css-path="../css/output.css" image-src="../resoucre/images/logo.png"></navbar-component>

    <section class="min-h-screen bg-white">

        <div>
            <h1 class="text-center text-3xl pt-8 text-black">About Us</h1>
            <hr class="my-4">
        </div>


        <div class="text-xl text-black text-justify flex justify-center text-wrap gap-2 mx-2">
            <div class="container">
                <P>Welcome to Sign Smart ,where learning American Sign Language (ASL) is made fun, interactive, and
                    accessible for kids of all ages!
                    At Sign Smart, we understand the importance of effective communication and inclusion for every
                    child. That's why we're dedicated to providing a vibrant online learning environment where children
                    can embark on an exciting journey to learn ASL.
                    Our platform is carefully crafted to cater to the unique learning needs of young learners. Through
                    engaging videos, interactive lessons, and entertaining activities, we aim to make the process of
                    learning ASL enjoyable and rewarding for kids.
                <div style="font-weight: bold;"> 1. Our Mission:</div><br>
                <div style="margin-left:5%;">Our mission is simple yet profound: to empower children with the invaluable
                    skill of American Sign Language, fostering communication, understanding, and inclusivity in a
                    diverse world.</div><br>
                <div style="font-weight: bold;">2. What We Offer</div><br>
                <div style="font-weight: bold;margin-left: 25px;">• Interactive lessons :</div>
                <div style="margin-left: 5%;">Our platform offers a diverse range of interactive lessons designed to
                    teach ASL vocabulary, grammar, and conversational skills in an engaging manner.</div>
                <div style="font-weight: bold;margin-left: 25px;">• Fun Activities : </div>
                <div style="margin-left: 5%;">Learning ASL should be fun! That's why we provide a variety of fun
                    activities, games, and quizzes to reinforce learning and keep children motivated.</div>
                <div style="font-weight: bold;margin-left: 25px;">• Accessible Learning :</div>
                <div style="margin-left: 5%;"> We believe that every child should have access to quality education. Our
                    platform is designed to be accessible to all learners, including those with different learning
                    abilities.</div>
                <div style="font-weight: bold;margin-left: 25px;">• Engaging Content :</div>
                <From style="margin-left: 5%;">From colorful animations to real-life scenarios, our content is designed
                    to captivate young minds and make learning ASL an enjoyable experience.
            </div>

            </P>





        </div>
        </div>


    </section>


    <footer-component css-path=" ../css/output.css" image-src="../resoucre/images/logo.png"></footer-component>
</body>

</html>