<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignSmart | Learn your Name</title>
    <link rel="icon" type="image/x-icon" href="../resoucre/images/icon.png">
    <link href="../css/output.css" rel="stylesheet">
    <!-- Removed extra closing style tag -->
    <script src="../components/navbar.js" defer></script>
    <script src="../components/footer.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>

<body>
    <!-- Navbar component -->
    <navbar-component css-path="../css/output.css" image-src="../resoucre/images/logo.png"></navbar-component>

    <section class="min-h-screen bg-white flex flex-col gap-5">
        <div>
            <h1 class="text-center text-3xl pt-5 text-black">Learn Your Name</h1>
            <hr class="w-48 h-1 mx-auto my-4 bg-gray-500 border-0 rounded md:my-10">
        </div>
        <div class="flex justify-center">
            <input id="searchInput" type="text" placeholder="Search..."
                class="w-full max-w-md px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
            <button id="searchButton"
                class="ml-2 px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600 focus:outline-none focus:bg-green-600">Search</button>
        </div>
        <div class="carousel flex justify-center">
            <div id="selected-image" class="w-64 carousel rounded-box">
            </div>
        </div>
        <h1 class="text-center text-3xl">Select a Alphabet</h1>
        <div id="buttons" class="flex justify-center w-full py-2 gap-2 flex-wrap">
        </div>
    </section>

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-app.js";
        import { getFirestore, collection, getDocs } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-firestore.js";

        import firebaseConfig from '../resoucre/js/config.js';

        const app = initializeApp(firebaseConfig);
        const db = getFirestore(app);

        // Create an empty array to store the data
        var alphabetData = [];


        const fetchData = async () => {
            const querySnapshot = await getDocs(collection(db, "Alphabets"));
            querySnapshot.forEach((doc) => {
                // Push each document data into the array
                alphabetData.push({
                    id: doc.id,
                    url: doc.data()[doc.id]
                });
            });
        };
        fetchData().catch((error) => {
            console.log("Error getting documents: ", error);
        });

        function displayImages() {
            var wordInput = document.getElementById('searchInput').value.toUpperCase();
            var selectedImage = document.getElementById('selected-image');
            var buttonsDiv = document.getElementById('buttons');


            //Reset Html
            buttonsDiv.innerHTML = "";
            selectedImage.innerHTML = "";


            // Create images for each letter of the word
            for (var i = 0; i < wordInput.length; i++) {
                var letter = wordInput[i];
                var letterUrl = alphabetData.find(item => item.id === letter);
                if (letterUrl) {
                    buttonsDiv.innerHTML += `<a href="#${letter}" class="text-white bg-green-500 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none ">${letter}</a>`;
                    selectedImage.innerHTML += `<div id="${letter}" class="carousel-item w-full">
                    <img src="${letterUrl.url}" class="w-full" alt="${letter}" />
                </div>`;

                }

            }
        }

        // Add event listener to the search button
        document.getElementById('searchButton').addEventListener('click', displayImages);
    </script>

    <!-- Footer component -->
    <footer-component css-path="../css/output.css" image-src="../resoucre/images/logo.png"></footer-component>
</body>

</html>