<!DOCTYPE html>
<html lang="en">

<head>
    <script src="..\resoucre\js\sign-in-check.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignSmart | The Settings</title>
    <link rel="icon" type="image/x-icon" href="../resoucre/images/icon.png">
    <link href="../css/output.css" rel="stylesheet">
    <script src="../components/navbar.js" defer></script>
    <script src="../components/footer.js" defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</head>

<body>
    <navbar-component css-path="../css/output.css" image-src="../resoucre/images/logo.png"></navbar-component>
    <!-- Modal toggle -->
    <section class="min-h-screen bg-white">
        <div>
            <h1 class="text-center text-3xl pt-8 text-black">Settings</h1>
            <hr class="my-4">
        </div>
        <div>
            <h1
                class="text-center mb-4 font-extrabold leading-none tracking-tight text-black text-2xl sm:text-3xl md:text-4xl lg:text-5xl">
                <span class="underline underline-offset-3 decoration-8 decoration-green-500 " id="s-email"></span>
            </h1>
        </div>
        <div class="p-10">
            <div class="flex justify-center">
                <form id="firstForm" class="space-y-4 md:space-y-6 flex flex-row justify-center align-middle gap-2"
                    action="#">
                    <label for="firstName" class="w-fit mb-2 text-xl text-center font-medium text-gray-900">First
                        Name</label>
                    <input type="text" name="firstName" id="firstName"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-100 focus:border-green-100  w-full p-2.5"
                        required="">
                    <button type="submit"
                        class="w-fit  h-12 text-white bg-green-500 hover:text-green-500 border-solid border-2 border-green-500  hover:bg-white focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5  text-center">Edit</button>
                </form>
            </div>
            <div class="flex justify-center align-middle">
                <form id="lastForm" class="space-y-4 md:space-y-6 flex flex-row justify-center align-middle gap-2"
                    action="#">
                    <label for="lastName" class=" mb-2 text-xl text-center font-medium text-gray-900">Last
                        Name</label>
                    <input type="text" name="lastName" id="lastName"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-green-100 focus:border-green-100  w-full p-2.5"
                        required="">
                    <button type="submit"
                        class="w-fit h-12 text-white bg-green-500 hover:text-green-500 border-solid border-2 border-green-500  hover:bg-white focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5  text-center">Edit</button>
                </form>
            </div>
        </div>
        <div class="flex justify-center m-5 ">
            <button id="changePassword"
                class=" text-white bg-green-500 hover:text-green-500 border-solid border-2 border-green-500  hover:bg-white focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                type="button">
                Change Password
            </button>
        </div>

    </section>




    <footer-component css-path=" ../css/output.css" image-src="../resoucre/images/logo.png"></footer-component>

    <script type="module">
        // Firebase SDK imports
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-app.js";
        import { getAuth, sendPasswordResetEmail } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-auth.js";
        import { getFirestore, doc, updateDoc } from "https://www.gstatic.com/firebasejs/10.11.1/firebase-firestore.js";

        // Your Firebase configuration
        import firebaseConfig from '../resoucre/js/config.js';
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const auth = getAuth(app);
        const db = getFirestore(app);

        // Update first name in Firebase
        async function updateFirstName(newFirstName) {
            try {
                await updateDoc(doc(db, 'users', auth.currentUser.uid), { firstName: newFirstName });
                sessionStorage.removeItem("firstName");
                sessionStorage.setItem('firstName', newFirstName);
                console.log("First name updated successfully");
                location.reload();
            } catch (error) {
                console.error('Error updating first name:', error.message);
            }
        }

        // Update last name in Firebase
        async function updateLastName(newLastName) {
            try {
                await updateDoc(doc(db, 'users', auth.currentUser.uid), { lastName: newLastName });
                sessionStorage.removeItem("lastName");
                sessionStorage.setItem('lastName', newLastName);
                console.log("Last name updated successfully");
                location.reload();
            } catch (error) {
                console.error('Error updating last name:', error.message);
            }
        }



        // Handle form submission for updating first name
        document.getElementById('firstForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const newFirstName = document.getElementById('firstName').value;
            await updateFirstName(newFirstName);
        });

        // Handle form submission for updating last name
        document.getElementById('lastForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const newLastName = document.getElementById('lastName').value;
            await updateLastName(newLastName);
        });

        // Handle form submission for changing password
        document.getElementById('changePassword').addEventListener('click', () => {
            if (confirm("Are you sure that you want to change you password. If yes click ok then we will log you out and you a email to change you password else press Cancel")) {
                sendPasswordResetEmail(auth, email)
                    .then(() => {
                        alert("Check your email");
                        sessionStorage.removeItem("uid");
                        sessionStorage.removeItem("email");
                        sessionStorage.removeItem("firstName");
                        sessionStorage.removeItem("lastName");
                        window.location.replace("/signin");
                    })
                    .catch((error) => {
                        console.log(error.code, error.message)
                    })

            } else {
                console.log("Dont want to change password!")
            }

        });

        // Set email and name on page load
        const email = sessionStorage.getItem("email");
        const fname = sessionStorage.getItem("firstName");
        const lname = sessionStorage.getItem("lastName");
        document.getElementById("s-email").innerText = email;
        document.getElementById("firstName").value = fname;
        document.getElementById("lastName").value = lname;
    </script>
</body>

</html>